{% extends 'index.html' %}

{% block title %}微信公众号测试服务{% endblock title %}

{% block main %}
<div class="row">
    <div class="col-lg-9">

        <h2>微信高级接口测试号</h2>
        <h4>调用接口定义请点击 <a href="/help" target="_blank">Help</a></h4>
        <h4>微信号:gh_79e9ce4f0df7</h4>
        <hr/>
        <div class="row">
            <div class="col-lg-4">
                <h4>测试号二维码:</h4>

                <p>
                    <img src="../static/images/mpweixin_sandbox_qrcode.jpg" style="width:150px;"/>

                <p>请用微信扫描关注这个测试公众号</p>

                </p>
            </div>
            <div class="col-lg-7">
                <h4>当前已关注用列表（<a href="/">刷新页面</a>）</h4>
                {% if  users %}
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>

                        <th>呢称</th>
                        <th>微信号</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for user in users%}
                    <tr>
                        <td>{{user['nickname']}}</td>
                        <td>{{user['openid']}}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% else %}
                  <em>暂无关注者</em>
                {% endif %}


            </div>

        </div>

        <br/>
        <br/>

        <p>新浪微博：<a target="_blank" href="http://weibo.com/#">@#</a></p>
        <br/>
        <h4>by 微信服务平台helix</h4>
    </div>


</div>

{% endblock main %}